// Color Palette

$color-dark-blue: #001d4a; // Dark Blue
$color-muted-blue: #27476e; // Muted Blue
$color-teal: #006992; // Teal
$color-light-yellow: #eaf8bf; // Light Yellow-Green
$color-amber: #eca400; // Amber
$color-light-blue: #ebf2fa; // Very Light Blue
$color-olive-green: #679436; // Olive Green
$color-lime-green: #a5be00; // Lime Green
$color-rich-red: #db4c40; // Rich Red
$color-warm-yellow: #f0c987; // Warm Light Yellow
