@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__menu-button {
    background-color: $color-dark-blue;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    height: 2rem;
    @include tablet {
      display: none;
    }

    &:hover {
      background-color: $color-dark-blue;
    }
  }
}
