@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  &__list {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    @include bodyCopyTextMob;

    @include tablet {
      @include bodyCopyText;
    }
  }

  &__item {
    color: $color-white;
    cursor: pointer;
    padding: 0.1563rem 0.75rem;
    border-radius: 0.625rem;

    &:hover {
      font-weight: 700;
      background-color: $color-muted-blue;
    }
  }

  &__item-container {
    display: flex;
    align-items: center;
  }
}

.active {
  font-weight: 700;
}
