@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  display: none;
  @include tablet {
    display: flex;
    position: relative;
  }
  &__list {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    @include bodyCopyTextMob;

    @include tablet {
      @include bodyCopyText;
    }
  }

  &__item {
    color: $color-white;
    cursor: pointer;
    padding: 0.1563rem 0.75rem;
    border-radius: 0.625rem;
    position: relative;

    &:hover {
      font-weight: 700;
      background-color: $color-muted-blue;
    }
  }

  &__item-container {
    display: flex;
    align-items: center;
  }

  &__dropdown {
    position: absolute;
    background-color: $color-muted-blue;
    margin-top: 0.5rem;
    border-radius: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    min-width: 100%;
    padding: 0.75rem 0;
  }

  &__dropdown-item {
    cursor: pointer;
    padding: 0.125rem 0.75rem;
    width: auto;
    font-weight: 500;

    &:hover {
      font-weight: 700;
    }
  }
}

.active {
  font-weight: 700;
}
